@font-face {
    font-family: Pacifico;
    src: url(Pacifico-Regular.ttf);
}

html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Pacifico;
    background-color: #293241;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    flex-direction: column;
}
.content h1{
    color: #ee6c4d;
}

.screen{
    width: 300px;
    height: 100px;
    display: flex;
    background-color: #293241;
    margin: 1px;
    border-bottom: 5px solid #ee6c4d;
    color:#fff;
    font-size: 33px;
    text-align: end;
    justify-content: flex-end;
    /* align-content: center; */
    flex-direction: column;
}

.calc{
    width: 300px; 
    height: 350px;
    border: 10px solid #3d5a80;
    border-radius: 5px;
    border-top: 50px solid #3d5a80;
    display: flex;
    flex-direction: column;
    background-color: #3d5a80;
    overflow: hidden;
}
.input{
    display: flex;
}

.keypad{
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end;
    width: 200px;
    height: 250px;
    border: 3px solid #3d5a80;
}

.operations{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-self: ; */
    width: 100px;
    height: 250px;
    border: 3px solid #3d5a80;
}
.op{
    width: 90px;
    height: 45px;
    background-color: #ee6c4d;
    border-radius: 10px;
    color: black;
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
    margin:3px;
} 

.num{
    width: 58px;
    height: 45px;
    /* border: 3px solid rgb(31, 35, 63); */
    background-color: #98c1d9;
    border-radius: 10px;
    color: black;
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
    margin:3px;
}
.num:hover, .op:hover {
    cursor: pointer;
    opacity: 0.7;
    filter:alpha(opacity=40);
}


.zero{
    width: 100px;
    height: auto;
}
.period{
    width: 80px;
    /* background-color: #ee6c4d; */

}
.special{
    background-color: #e0fbfc;
}

.opacity-on{
    opacity: 1;
}

.opacity-off{
    opacity: 0.7;
}